{% set releases = [
  ["2017-04-05", "en", "Adblock Plus parent company eyeo acquires Flattr", "eyeo-acquires-flattr.pdf"],
  ["2016-11-29", "en", "MediaPost editorial board recognizes Adblock Plus with award for its role in improving online advertising", "2016-09-13-acceptable-ads-platform.pdf"],
  ["2016-09-13", "en", "Adblock Plus enters ad-tech with launch of SSP/ad platform", "2016-09-13-acceptable-ads-platform.pdf"],
  ["2015-09-30", "en", "First Free Ad Blocker on the Apple App Store Arrives; The Adblock Autumn:  Adblock Plus for iOS 2-nd from ABP this Month", "2015-09-30-ABP_for_iOSApp-WEB.pdf"],
  ["2015-09-29", "en", "Adblock Plus To Invite An Independent Board to Manage 'Acceptable Ads' Program", "2015-09-29-AA_independent_board-WEB.pdf"],
  ["2015-09-15", "en", "Sweet 4­‐Peat for Users: Adblock Plus Victorious In Court Against Axel Springer", "2015-09-15-Cologne-lawsuitWIN-WEB.pdf"],
  ["2015-09-08", "en", "Adblock Plus beats Apple to the punch; Ships Adblock Browser ahead of iOS 9", "2015-09-08-AdblockBrowserforiOSLaunch(POST)-WEB.pdf"],
  ["2015-09-08", "en", "Adblock Plus Escapes Exile; Returns to Google Play Store", "2015-09-08-Adblock BrowserforAndroid(POST)-WEB.pdf"],
  ["2015-07-08", "en", "University Tests Adblock Plus on Enterprise Network; Finds 40% Traffic Reduction", "2015-07-08-ABP-SFUStudyWEB.pdf"],
  ["2015-05-19", "en", "Adblock Plus Builds First Mobile Browser From the Ground Up; Leaves Ad Industry With Nowhere to Hide", "2015-05-19-AdblockBrowserAndroidBeta-WEB.pdf"],
  ["2015-01-27", "en", "Adblock Plus for Internet Explorer Officially Out of Beta", "2015-01-27-Maxthon-US-WEB.pdf"],
  ["2014-04-04", "en", "Research Study Finds 'Loud' Website Ads Do Not Work", "2014-04-29-Eyetracking-WEB.pdf"],
  ["2013-10-10", "en", "Adblock Plus Available for Safari; Mac Owners Rejoice", "2013-10-10-29-ABP-on-Safari-WEB.pdf"],
  ["2017-04-05", "de", "eyeo übernimmt den Micropayment-Provider Flattr", "eyeo-acquires-flattr.pdf"],
  ["2016-09-13", "de", "Adblock Plus startet eigene SSP", "2016-09-09-acceptable-ads-platform.pdf"],
  ["2016-06-24", "de", "OLG Köln bestätigt Zulässigkeit von Werbeblockern Eyeo­ Gründer Till Faida: 'Entscheidung ermutigt zum Dialog über Whitelisting'", "2016-06-22-cologne-axel-springer-de.pdf"],
  ["2015-09-30", "de", "Unabhängiges Gremium entscheidet bald über 'Acceptable Ads' bei Adblock Plus", "2015-09-30-AAIndependentBoard_DE.pdf"],
  ["2015-09-29", "de", "4:0 für das Selbstbestimmungsrecht des Nutzers! Adblock Plus gewinnt Klage gegen Axel Springer vor Kölner Landgericht", "2015-09-29-CologneLawsuit-DE.pdf"],
  ["2015-09-10", "de", "Adblock Browser aus dem Exil entlassen - endlich zurück im Google Play Store!", "2015-09-10-Adblock_Browser_fur_Android-DE.pdf"],
  ["2015-09-08", "de", "Adblock Plus schneller dran als Apple - Adblock Browser kommt noch vor iOS 9!", "2015-09-08-Adblock_Browser_fur_iOS_Launch-DE.pdf"],
  ["2015-09-08", "de", "Adblock Browser aus dem Exil entlassen - endlich zurück im Google Play Store!", "2015-09-08-Adblock_Browser_fur_Android-DE.pdf"],
  ["2015-07-03", "de", "Universität testet Adblock Plus auf Unternehmensnetzwerk und reduziert den Datenverbrauch damit um 40%", "2015-07-03-SFU_Press_Release-DE.pdf"],
  ["2015-05-19", "de", "Werbeblocker 'Adblock Plus' launcht eigenen Android-Browser", "2015-05-19-AdblockBrowserpressrelease-DE.pdf"],
  ["2015-02-02", "de", "Maxthon und AdblockPlus schließen strategische Partnerschaft zum Launch des ersten Browsers, der Werbung standardmäßig blockiert", "2015-02-09-MaxthonPressRelease-DE.pdf"],
  ["2014-04-04", "de", "Erstaunliche neue Studie zur Werbewirkung: Dezente Anzeigen funktionieren besser", "2014-04-29-Eyetrackingtranslatedplusblog.pdf"],
  ["2013-06-06", "de", "Neue Studie zu Werbung im Netz: Kinder von Online­Anzeigen oftmals überfordert", "2013-06-20_KinderOnline-Werbung-DE.pdf"]
] %}

{% set languages = [
  ("en", "English"),
  ("de", "German"),
] %}

{% for code, language in languages %}
  <p>
    <a href="#releases-{{code}}">{{language}}</a>
  </p>
{% endfor %}

{% for code, language in languages %}
  <h3 id="releases-{{code}}">{{language}}</h3>
  <ul>
    {% for date, lang, title, file in releases|datesort %}
      {% if lang == code %}
        <li>
          <div>{{date|humanize_date}}</div>
          <a href="/press/releases/{{code}}/{{file}}">{{title}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
