title=Working at Eyeo

{% set openings = ("HR Manager", "C++ Developer", "Browser Extension Developer", "PR Intern") %}
{% macro slugify(title) %}{{ title|lower|replace(" ", "-") }}{% endmacro %}

<script src="/js/jquery.ui.core.min.js"></script>
<script src="/js/jquery.ui.widget.min.js"></script>
<script src="/js/jquery.ui.tabs.min.js"></script>
<script>
  jQuery(function()
  {
    jQuery(
      "ul:first", jQuery("#tabs-openings").tabs(
      {
        activate: function(event, ui)
        {
          var hash = ui.newTab.find("a")[0].hash;
          if (hash != "#jobs-overview")
            location.hash = hash;
        }
      })
    ).addClass("ui-tabs-nav-vertical");

    jQuery("#tabs-details").tabs();

    jQuery(window).on("hashchange", function()
    {
      var hash = location.hash != "" ? location.hash : "#jobs-overview";
      var escapedHash = hash.replace(/\+/g, "\\+");
      jQuery("[href=" + escapedHash + "]").click();
    });
  });
</script>


<header class="page-title">
  <h1>Working at Eyeo</h1>
</header>

<div id="jobs-info" class="content-block">
  <div id="tabs-openings" class="columns-container one-sidebar">
    <div class="column sidebar-left">
      <h3 class="heading centered"><span>Current openings:</span></h3>

      <ul>
        <li id="jobs-overview-tab"><a href="#jobs-overview"></a></li>
        {% for title in openings %}
          <li><a href="#{{ slugify(title) }}">{{ title }}</a></li>
        {% endfor %}
      </ul>

      <p id="ihk-logo">
        <img src="/images/ihk.png" alt="IHK Ausbildungsbetrieb" width="120" height="80">
      </p>
    </div>

    <div class="column">
      <div id="panels-openings">
        <div id="jobs-overview">
          <? include jobs/overview ?>

          <div id="tabs-details">
            <ul>
              <li><a href="#why">Why work with us?</a></li>
              <li><a href="#benefits">Employee benefits</a></li>
              <li><a href="#office">Our office</a></li>
            </ul>

            <div id="why">
              <? include jobs/why ?>
            </div>

            <div id="benefits">
              <? include jobs/benefits ?>
            </div>

            <div id="office">
              <? include jobs/office ?>
            </div>
          </div>
        </div>

        {% for title in openings %}
          <div id="{{ slugify(title) }}">
            <h2>{{ title }}</h2>
            <? include jobs/openings/{{ slugify(title) }} ?>
            <a href="mailto:jobs@eyeo.com"><button>apply now</button></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
