title=Working at Eyeo

{#
  For each job opening you have to list the title and the name of the file under
  includes/jobs/openings that contains the job description.
#}
{% set openings = [
  ("Growth Hacker / Data Analyst", "growth-hacker-data-analyst"),
  ("Senior JavaScript Developer", "senior-javascript-developer"),
  ("C++ Developer", "c++-developer"),
  ("DevOps Engineer", "devops-engineer"),
  ("PR Intern", "pr-intern"),
  ("Business Development Manager", "business-development-manager"),
  ("Online Marketing Intern", "online-marketing-intern"),
  ("Graphic Designer", "graphic-designer"),
  ("Senior Systemadministrator (m/w)", "senior-systemadministrator"),
  ("Buchhalter (m/w)", "buchhalter"),
  ("Experienced Software Tester", "experienced-software-tester"), 
] %}
{% set german_openings = ["senior-systemadministrator", "buchhalter"] %}

<script src="/js/jquery.ui.core.min.js"></script>
<script src="/js/jquery.ui.widget.min.js"></script>
<script src="/js/jquery.ui.tabs.min.js"></script>
<script>
  jQuery(function()
  {
    jQuery(
      "ul:first", jQuery("#tabs-openings").tabs(
      {
        activate: function(event, ui)
        {
          var hash = ui.newTab.find("a")[0].hash;
          if (hash != "#jobs-overview")
            location.hash = hash;
          window.scrollTo(0, 0);
        }
      })
    ).addClass("ui-tabs-nav-vertical");

    jQuery("#tabs-details").tabs();

    jQuery(window).on("hashchange", function()
    {
      var hash = location.hash != "" ? location.hash : "#jobs-overview";
      var escapedHash = hash.replace(/\+/g, "\\+");
      jQuery("[href=" + escapedHash + "]").click();
    });

    setTimeout(function() { window.scrollTo(0, 0); }, 0);
  });
</script>


<header class="page-title">
  <h1>Working at Eyeo</h1>
</header>

<div id="jobs-info" class="content-block">
  <div id="tabs-openings" class="columns-container one-sidebar">
    <div class="column sidebar-left">
      <h3 class="heading centered"><span>Current openings:</span></h3>

      <ul>
        <li id="jobs-overview-tab"><a href="#jobs-overview"></a></li>
        {% for title, file in openings %}
          <li>
            <a href="#{{ title|slugify }}">
              {{ title }}
              {% if file in german_openings %}
                <img src="/images/flags/de.png" alt="German" width="15" height="10">
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>

      <p id="hiring-badges">
        <img id="ihk-logo" src="/images/ihk.png" alt="IHK Ausbildungsbetrieb" width="120" height="80">
        <img id="fair-company-logo" src="/images/fair-company.jpg" alt="Fair Company" height="80">
      </p>
    </div>

    <div class="column">
      <div id="panels-openings">
        <div id="jobs-overview">
          <? include jobs/overview ?>

          <div id="tabs-details">
            <ul>
              <li><a href="#why">Why work with us?</a></li>
              <li><a href="#benefits">Employee benefits</a></li>
              <li><a href="#office">Our office</a></li>
            </ul>

            <div id="why">
              <? include jobs/why ?>
            </div>

            <div id="benefits">
              <? include jobs/benefits ?>
            </div>

            <div id="office">
              <? include jobs/office ?>
            </div>
          </div>
        </div>

        {% for title, file in openings %}
          <div id="{{ title|slugify }}">
            <h2>{{ title }}</h2>
            <? include jobs/openings/{{ file }} ?>
            <a href="mailto:jobs@eyeo.com"><button>apply now</button></a>
            <a href="#jobs-overview"><button class="why-work-here-button">why work here?</button></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
