title=Meet the Team

<header class="page-title">
  <h1>Meet the Team</h1>
</header>

{%- from "includes/globals" import people %}

{%- macro profile(date, image, name, title, description) %}
  <div class="profile column">
    <p>
      <img class="profile-image" src="/images/people/{{image}}" width="120" height="120" alt=""/>
    </p>
    <h3 class="heading centered"><span>{{title}}</span></h3>
    <h1>{{name}}</h1>
    <h2>{{description}}</h2>
  </div>
{% endmacro %}

<div class="content-block columns-container four-columns">
{%- for person in people|datesort(basedate="2011-02-22") %}
  {%- if loop.index % 4 == 1 and not loop.first %}
    </div>
    <div class="content-block columns-container four-columns">
  {%- endif %}

  {{profile(*person)}}
{%- endfor %}
</div>
