<!DOCTYPE html>
<html lang="{{locale}}">
<head>
  {# HTML5 essentials #}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {# HTML5 meta #}
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}

  {# http://ogp.me/ #}
  <meta property="og:image" content="{{og_image if og_image else 'https://eyeo.com/images/eyeo-meta-default.png'}}">

  {% if title %}
  <title>{{title}} | eyeo GmbH</title>
  {% else %}
  <title>eyeo GmbH</title>
  {% endif %}

  <link rel="shortcut icon" href="/images/favicon.png" />

  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->

  <script src="/js/jquery.js"></script>
  <script src="/js/scripts.js"></script>

  <link rel="canonical" href="https://eyeo.com/{{ page[:-5] if page.split('/')[-1] == 'index' else page }}">

  {% block head %}
  {{head|safe}}
  {% endblock %}
</head>

<body id="top" class="home page page-template-default apollo_validation_on cover wpb-js-composer js-comp-ver-3.6.14.1 vc_responsive">

  <header id="header" class="top">
    <div class="content-block">

      {{"index"|linkify(id="logo",title="eyeo GmbH",rel="home")}}
        <img src="/images/logo.png" srcset="/images/logo.png 1x, /images/logo-2x.png 2x" alt="eyeo GmbH" />
      </a>

      <a class="assistive-text" href="#content">
        Skip to main content
      </a>

      <button id="header-hamburger" aria-expanded="false">
        <span class="assistive-text">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <nav id="menu" role="navigation" aria-labelledby="header-hamburger" aria-expanded="false">
        <h1 class="assistive-text">Main menu</h1>
        <ul class="menu-list">
          {%- for link, title in [("index", "About"), ("services", "Services"), ("team", "Team"), ("press", "Press"), ("contact", "Contact")] %}
            {%- if link == page %}
              <li class="current-menu-item">
                {{link|linkify}}
                  <span>{{title}}</span>
                </a>
              </li>
            {%- else %}
              <li>
                {{link|linkify}}
                  <span>{{title}}</span>
                </a>
              </li>
            {%- endif %}
          {%- endfor %}
        </ul>
      </nav>

      {{"jobs"|linkify(class="menu-button")}}Join us - we are hiring!</a>

    </div>
  </header>

  <div id="content">
    {{body|safe}}
  </div>

  <footer id="footer">
    <div class="content-block">
      <small>
        Adblock Plus™ and Acceptable Ads™ are registered trademarks of eyeo GmbH.
      </small>
      <div id="footer-links">
        {{"contact"|linkify}}Made with ♥ in Cologne</a>
        {{"privacy"|linkify}}Privacy Policy</a>
      </div>
    </div>
  </footer>
</body>

</html>
