{% set people = [
  ("2011-08-22", "de", "palant.png", "Wladimir Palant", "Founder & Developer", "Computer scientist and the original developer of Adblock Plus"),
  ("2011-08-22", "de", "faida.png", "Till Faida", "Founder & CEO", "Entrepreneur with a professional background in online marketing"),
  ("2011-12-01", "de", "schumacher.jpeg", "Tim Schumacher", "Investor & Advisor", "Serial entrepreneur with a passion for challenging Internet projects"),
  ("2012-09-03", "de", "dahlke.png", "Felix Dahlke", "CTO", "Obsessive programmer passionate about open source and games"),
  ("2012-08-13", "de", "dommers.jpg", "Christian Dommers", "Head of Business Development", "Business developer, entrepreneur and project manager with a background in Internet publishing"),
  ("2012-08-21", "de", "arthur.jpg", "Arthur Kawa", "IT Officer Trainee", "Longtime Adblock Plus contributor, loves music, concerts and bacon"),
  ("2012-07-16", "nl", "plas.png", "Job Plas", "Manager of Global Partnerships", "Geek-in-training, loves The Office, Gangnam Style and schnitzel, has MSc & BBA in international business"),
  ("2012-11-29", "us", "hughes.png", "Eric Hughes", "Developer", "Writes code, preferably though of necessity not exclusively, in strongly typed languages"),
  ("2013-05-06", "de", "hartz.png", "Sven Hartz", "User Experience Designer", "Computer scientist and creative head with a passion for making things clean and simple"),
  ("2013-06-30", "de", "noack.png", "Sebastian Noack", "Developer", "Longtime open source developer, who loves to play volleyball and board games"),
  ("2013-01-08", "de", "wilms.png", "Nadja Wilms", "Office Assistant", "Trained paralegal who keeps the administration and accounting in order"),
  ("2013-06-18", "us", "ben.jpeg", "Ben Williams", "Comms/Ops Manager", "Previously worked in government but likes wearing jeans better, as well as writing, records and pork"),
  ("2012-09-03", "at", "greiner.jpeg", "Thomas Greiner", "Developer", "Web enthusiast and developer with strong beliefs on openness, transparency and accessibility"),
  ("2012-11-26", "ua", "paraska.jpeg", "Oleksandr Paraska", "Developer", "Longtime Adblock Plus for IE developer (yes, seriously), loves making crêpes"),
  ("2013-07-02", "es", "caballero.jpeg", "Manuel Caballero", "Acceptable Ads Relations Manager", "PhD candidate in art history, PR for Spain & LatAm, Germanophile and metal head"),
  ("2014-02-03", "de", "hill.png", "Philip Hill", "QA & Project Manager", "Tries to improve the quality of nearly everything. Especially at food, music, photos and software"),
  ("2014-02-04", "am", "saroyanm.jpg", "Manvel Saroyan", "Developer", "Open source minded web developer, always looking for some good idea to implement"),
  ("2014-02-11", "sk", "foeldesova.png", "Simona Földesova", "Project Manager", "Bringing a business perspective into the world of IT. Lifelong optimist"),
  ("2014-03-04", "de", "jeschke.jpg", "René Jeschke", "Developer", "Coder by nature, optimisation zealot, member of the anonymous NIH-aholics"),
  ("2014-04-01", "de", "recke.png", "Kai Recke", "General Counsel", "Attorney specialized in online law and guidance for creative IT companies"),
  ("2014-04-01", "de", "schuster.png", "Tom Schuster", "Developer", "Computer science student with a passion for open source and low-level stuff"),
  ("2014-05-01", "de", "maren.jpg", "Maren Böger", "HR Manager", "People person, who's seriously addicted to sports and always hunting for talent ... or chocolate"),
  ("2014-07-01", "de", "hennig.png", "Mathias J. Hennig", "DevOps Engineer", "Open-source evangelist who doesn't only write code, but speaks it"),
  ("2014-08-01", "gb", "dave.png", "Dave Barker", "Developer", "Bristol based programmer, percussionist"),
  ("2014-08-01", "ru", "sergei.png", "Sergei Zabolotskikh", "Developer", "Loves solving problems best possible and enjoys the good things in life"),
  ("2013-09-01", "cn", "yu.png", "Yuxi Yu", "Country Manager China", "Enjoys cross-cultural stuffs: people, food, plus business. Occasionally gets wanderlust"),
  ("2014-09-15", "de", "frey.png", "Peter Frey", "Design Intern", "Media student with a hand in almost everything visual"),
  ("2014-09-15", "de", "pomogajko.png", "Kirill Pomogajko", "Data Scientist", "Takes the company on a data adventure, breathes R, discovers Linux, avoids Excel"),
  ("2014-09-01", "us", "chou.png", "Ann-Lee Chou", "Product Manager", "User-centered product manager, design thinker, with a background in tech and downward dog"),
  ("2014-12-01", "pk", "iqbal.png", "Shabie Iqbal", "Student Help", "Voraciously reads books no one else does. Curious by nature. Loves to play sports and travel (in time)."),
  ("2015-01-01", "de", "louwette.png", "Caroline Louwette", "Account Manager", "Highly committed teamplayer with a creative and bubbly personality who wants to travel the world"),
  ("2015-01-01", "de", "spiegel.jpg", "Frederik Spiegel", "System Administrator", 'Likes to write code, automate things and enjoys to hang out with "real" pirates from the 18th century'),
  ("2015-01-01", "de", "seydel.png", "Henning Seydel", "Technical Account Manager", "Problem solver with a passion for connecting technology and business, good food and traveling"),
  ("2015-01-01", "de", "stelberg.png", "Christiane Stelberg", "Graphic Designer", "Austro-German designer who likes to keep calm and make things look better"),
  ("2015-02-01", "gb", "green.jpg", "Ross Green", "Software Tester", "Constantly breaking things and attempting to put them back together. Likes development, skateboarding and cats"),
  ("2015-04-01", "us", "jones.png", "Nicole Jones", "QA Manager", "Passionate about improving processes, proactively using data, and going on adventures"),
  ("2015-04-01", "us", "bielik.png", "Lisa Bielik", "Technical Writer", "User-focused technical writer who enjoys simplifying complex things. Likes traveling, dogs, cats and heavy metal."),
  ("2015-06-01", "es", "blasco.png", "Tamara Blasco", "Software Tester", "A perfectionist who enjoys books, video games, TV series, movies, technology and learning new languages"),
  ("2015-06-01", "de", "sergeev.png", "Nicole Sergeev", "Office Assistant", "Perfectly organized teamplayer with a creative and dedicated personality, loves tennis, likes Hip-Hop and enjoys audio books while jogging"),
] %}
