{% set people = [
  ("2011-08-22", "germany", "palant.png", "Wladimir Palant", "Founder & Developer", "Computer scientist and the original developer of Adblock Plus"),
  ("2011-08-22", "germany", "faida.png", "Till Faida", "Founder & CEO", "Entrepreneur with a professional background in online marketing"),
  ("2011-12-01", "germany", "schumacher.jpeg", "Tim Schumacher", "Founder & Chairman", "Serial entrepreneur with a passion for challenging Internet projects"),
  ("2012-09-03", "germany", "dahlke.png", "Felix Dahlke", "CTO", "Obsessive programmer passionate about open source and games"),
  ("2012-08-13", "germany", "dommers.jpg", "Christian Dommers", "Head of Business Development", "Business developer, entrepreneur and project manager with a background in Internet publishing"),
  ("2012-08-21", "germany", "arthur.jpg", "Arthur Kawa", "Developer", "Longtime Adblock Plus contributor who loves music, concerts and bacon"),
  ("2012-07-16", "netherlands", "plas.png", "Job Plas", "Manager of Global Partnerships", "Geek-in-training who loves The Office, Gangnam Style and schnitzel. Has MSc & BBA in international business."),
  ("2012-11-29", "united-states", "hughes.png", "Eric Hughes", "Developer", "Writes code, preferably though of necessity not exclusively, in strongly typed languages"),
  ("2013-06-30", "germany", "noack.png", "Sebastian Noack", "Technical Project Manager", "Longtime open source developer who loves playing volleyball and board games"),
  ("2013-01-08", "germany", "wilms.png", "Nadja Wilms", "Office Assistant", "Trained paralegal who keeps the administration and accounting in order"),
  ("2013-06-18", "united-states", "ben.jpeg", "Ben Williams", "Comms / Ops Manager", "Previously worked in government, but likes wearing jeans better. Also likes writing, records and pork."),
  ("2012-09-03", "austria", "greiner.jpeg", "Thomas Greiner", "Developer", "Web enthusiast and developer with strong beliefs on openness, transparency and accessibility"),
  ("2012-11-26", "ukraine", "paraska.jpeg", "Oleksandr Paraska", "Developer", "Longtime Adblock Plus for IE developer (yes, seriously). Loves making crêpes."),
  ("2013-07-02", "spain", "caballero.png", "Manuel Caballero", "Account Manager", "Art lover, bass player, headbanger, cat owner, mountaineer"),
  ("2014-02-03", "germany", "hill.png", "Philip Hill", "Head of QA", "Tries to improve the quality of nearly everything, especially food, music, photos and software"),
  ("2014-02-04", "armenia", "saroyanm.jpg", "Manvel Saroyan", "Developer", "Open source-minded web developer always looking for good ideas to implement"),
  ("2014-03-04", "germany", "jeschke.jpg", "René Jeschke", "Developer", "Coder by nature, optimization zealot, member of the anonymous NIH-aholics"),
  ("2014-04-01", "germany", "recke.png", "Kai Recke", "General Counsel", "Attorney specialized in online law and guidance for creative IT companies"),
  ("2014-04-01", "germany", "schuster.png", "Tom Schuster", "Developer", "Computer science student with a passion for open source and low-level stuff"),
  ("2014-05-01", "germany", "maren.jpg", "Maren Böger", "People Operations Manager", "People person who's seriously addicted to sports. Always hunting for talent ... or chocolate."),
  ("2014-07-01", "germany", "hennig.png", "Mathias J. Hennig", "DevOps Engineer", "Open source evangelist who doesn't only write code, but speaks it"),
  ("2014-08-01", "united-kingdom", "dave.png", "Dave Barker", "Developer", "Bristol based programmer, percussionist"),
  ("2014-08-01", "russia", "sergei.png", "Sergei Zabolotskikh", "Developer", "Loves solving problems and enjoying the good things in life"),
  ("2013-09-01", "china", "yu.png", "Yuxi Yu", "Regional Manager (Asia)", "Enjoys cross-cultural stuffs: people, food and business. Occasionally gets wanderlust."),
  ("2014-09-15", "germany", "peter.png", "Peter Frey", "Visual Designer", "Media person with a hand in almost everything visual in the company that isn't software design"),
  ("2014-09-15", "germany", "pomogajko.png", "Kirill Pomogajko", "Data Scientist", "Takes the company on a data adventure. Breathes R, lives in a shell and avoids spreadsheets."),
  ("2014-09-01", "united-states", "chou.png", "Ann-Lee Chou", "UX Researcher", "User-centered advocate and design thinker with a background in tech and downward dog"),
  ("2015-01-01", "germany", "louwette.png", "Caroline Louwette", "Account Manager", "Highly committed team player with a creative and bubbly personality who wants to travel the world"),
  ("2015-01-01", "germany", "spiegel.jpg", "Frederik Spiegel", "DevOps Engineer", 'Likes writing code, automating things and hanging out with "real" pirates from the 18th century'),
  ("2015-01-01", "germany", "seydel.png", "Henning Seydel", "Technical Account Manager", "Problem solver with a passion for connecting technology and business, good food and traveling"),
  ("2015-01-01", "germany", "stelberg.png", "Christiane Stelberg", "Art Director", "Austro-German designer who likes to keep calm and make things look better"),
  ("2015-02-01", "earth", "green.jpg", "Ross Green", "Software Tester", "Constantly breaking things and attempting to put them back together. Likes development, skateboarding and cats."),
  ("2015-04-01", "united-states", "jones.png", "Nicole Jones", "Filter List Manager", "Passionate about improving processes, proactively using data and going on adventures"),
  ("2015-04-01", "united-states", "bielik.png", "Lisa Bielik", "Content Developer", "User-centered advocate and writer. A teenage goth kid at heart. Metalhead, pit bull advocate, coffee aficionado and 80s horror movie buff."),
  ("2015-06-01", "spain", "blasco.png", "Tamara Blasco", "Localization Manager", "A perfectionist who enjoys books, video games, TV series, movies, technology and learning new languages"),
  ("2015-07-01", "germany", "grant.png", "Marsha Grant", "Communications Manager", "Student of English literature. Presumably reading or writing something right now."),
  ("2015-06-01", "germany", "sergeev.png", "Nicole Sergeev", "Project Manager", "Caring personality, always looking for ways to raise the team spirit. Loves hip-hop, tennis and enjoys audio books while jogging."),
  ("2015-08-01", "germany", "porz.png", "Stephan Porz", "Data Scientist", "Physicist devoted to programming and data analysis. Loves clear structure and elegant visualization."),
  ("2015-08-19", "earth", "amr.png", "Amr Makram", "Filter List Administrator", "An international citizen who dreams of playing a significant role in global and sustainable Peacebuilding"),
  ("2015-09-01", "israel", "dar.png", "Rotem Dar", "International Account Manager", "A BizDev freak, a jurist and a verbal painter who's after the next opportunity, subtext and Thai noodles"),
  ("2015-09-21", "germany", "mario.png", "Mario König", "Technical Project Manager", "A passionate project manager devoted to the art of making things happen"),
  ("2015-11-16", "brazil", "rachel.png", "Rachel Brochado", "Community Manager", "Very sociable one that is committed to people. Has a special care for sustainable development issues and a passion for music."),
  ("2015-11-16", "canada", "vold.png", "Erik Vold", "Developer", "Loves working on new features for the web"),
  ("2015-12-01", "bosnia-herzegovina", "cuturic.png", "Saša Čuturić", "Community Support Associate", "Longtime Adblock Plus fan, now part of the team. Enjoys movies, TV shows and technology."),
  ("2016-01-01", "united-kingdom", "scott.png", "Scott Cheer", "QA Manager", "Bug creator extraordinaire. Scott also loves video games and dogs, but who doesn't?"),
  ("2016-01-01", "france", "jessica.png", "Jessica Peterka-Bonetta", "Data Scientist", "Psychologist with a passion for anything related to data. Investigates Internet addiction in the scope of her PhD and loves to analyze social media data."),
  ("2016-01-18", "canada", "julian.png", "Julian Doucette", "Developer", "Developer, problem-solver, creative thinker, open source advocate"),
  ("2016-02-01", "germany", "darius.png", "Darius Kühn", "IT System Administrator", "IT evolutionist with a fable for cooking, whiskey, reptiles and visible results in real-time"),
  ("2016-02-01", "germany", "kiedel.png", "Steffen Kiedel", "CFO", "Finance person passionate about growing companies"),
  ("2016-02-03", "earth", "aaron.png", "Aaron Thornburgh", "Head of Product", "Product manager, designer, strategist, and science fiction reader"),
  ("2016-03-01", "earth", "vasily.png", "Vasily Kuznetsov", "Developer", "Programmer, mathematician and rock climber who likes thinking about hard questions and making things simpler"),
  ("2016-04-01", "germany", "tobias.png", "Tobias Hilleke", "QA Manager", "QA Manager with a conviction for analyzing and optimizing processes, as well as a passion for music and sports"),
  ("2016-04-01", "germany", "laura.png", "Laura Dornheim", "Public Affairs Manager", "Enjoys lobbying for a better Internet. Never shy of words and never seen in anything else but black."),
  ("2016-05-02", "brazil", "diego.png", "Diego Lima", "Developer", "Passionate about music and traveling, bad soccer player, open source and problem-solving enthusiast"),
  ("2016-05-10", "russia", "anton.png", "Anton Smirnov", "Developer", "Has a passion for interior design and architecture. Loves French, perfect software architecture, sports and electronics prototyping."),
  ("2016-05-16", "poland", "joanna.png", "Joanna Sitarz", "Technical Recruiter", "Tech Recruiter who likes books, traveling, IT Crowd and a good sense of humor"),
  ("2016-05-17", "united-states", "sonesen.png", "Jon Sonesen", "Developer", "Open source enthusiast who enjoys mountains, travel, riding bikes and learning new stuff"),
  ("2016-05-17", "romania", "robert.png", "Robert Raceanu", "Software Tester", "Wants to make a difference whilst enjoying the ride"),
  ("2016-06-01", "germany", "judith.png", "Judith Nink", "Data Protection Officer", "Attorney who is passionate about data privacy and specializes in technology and online law. Loves sports, especially handball."),
  ("2016-06-01", "bulgaria", "martin.png", "Martin Velchevski", "Product Designer", "Designer and programming enthusiast. Loves photography, plays guitar and occasionally fiddles with electronics."),
  ("2016-07-04", "pakistan", "maham.png", "Maham Zulfiqar", "Student Help", "Loves to travel, reads books and is particularly enthusiastic about learning about new cultures and meeting people"),
  ("2016-07-04", "kenya", "victor.png", "Victor Ouko", "Student Help", "Team player with a love for French Bulldogs, video games and sports"),
  ("2016-07-04", "vietnam", "dung.png", "Dung Le", "Student Help", "Student of Technical logistics who likes to do origami, gaming and urban drawing"),
  ("2016-07-18", "malaysia", "jeen.png", "Jeen Low", "Product Manager", "Passionate about creating intuitive products, understanding people, and sparkly things"),
  ("2016-08-01", "mexico", "edmundo.png", "Edmundo Sanchez", "Technical Account Manager", "Bass player, web dev learner, problem and non-problem solver and punk rocker"),
  ("2016-09-15", "germany", "nora.png", "Nora Hase", "Office Assistant / Receptionist", "Berliner in Cologne. Takes care of people and things. Foodlover with an addiction to sushi. Photographer in her other life."),
  ("2016-09-19", "greece", "paul.png", "Paul Pastourmatzis", "Web Designer", "Fascinated by all things creative, making videos, photographs, music and hearing voices"),
  ("2016-11-02", "germany", "bolien.png", "Marcus ​Bollien", "Technical Account Manager", "Always willing to find the best solution-driven and business-oriented way. Background in ad tech and complex publisher environments."),
  ("2016-11-02", "romania", "otlacan.png", "Otilia Otlacan", "Technical Account Manager", "Ad techie who left the corporate world to support entrepreneurs in the digital space. Loves plushies, heavy metal, and Yorkshire tea."),
  ("2016-11-02", "norway", "ferris.png", "Ferris Nicolaisen", "Technical Project Manager", "Norwegian-Irish developer turned operator turned manager. Gave up maritime rock for cats, kids and a podcast."),
  ("2016-11-02", "germany", "keim.png", "Karina Keim", "Student Help (Monitoring)", "Business student, traveler, diver and slightly crazed dog person"),
  ("2016-12-01", "germany", "winsley.jpg", "Winsley von Spee", "Technical Project Manager", "Programmer who loves coffee, Downhill and the Mythical Man Month"),
  ("2016-12-01", "germany", "erick.jpg", "Erick Seifert", "IT Apprentice", "Apprentice who never says 'never' to new experiences. Likes sports, music and barbecuing at any time – even in the winter!"),
  ("2016-11-14", "earth", "paco.png", "Francisco López", "DevOps Engineer", "Coffee and books junkie, follower of the Unix way, martial arts practitioner"),
  ("2016-11-14", "israel", "lior.jpg", "Lior Rosilio", "Student Help (IT)", "Economics student & system administrator who likes sports and traveling. Doing my best to keep my life as simple as possible."),
  ("2017-02-06", "earth", "misha.png", "Misha Thornburgh", "UX Researcher", "Fact finder, avid reader, and Star-Trek enthusiast with a love of travel, volunteering, and cats"),
  ("2017-02-06", "netherlands", "vandijk.png", "Peter van Dijk", "IT System Administrator", "Always happy, calm and yet a little crazy. Eager to learn and enjoy new things even after 17 years of experience in IT administration."),
  ("2017-03-01", "canada", "hubert.png", "Hubert Figuiere", "Developer", "Software artisan, passionate about libre software, the web, tabletop games and photography"),
  ("2017-03-22", "sweden", "linus.png", "Linus Olsson", "Project Manager (Flattr)", "Has something to say about everything, apparently"),
  ("2017-04-03", "united-states", "susie.png", "Susie Concannon", "Social Media Manager", "Passionate about creating 140 character content and building communities. Loves traveling, chocolate, and baseball."),
  ("2017-04-03", "pakistan", "muzammil.png", "Muzammil Ahmed", "Student Help Monitoring", "A Computer Science student who loves traveling, listening to music and watching movies"),
  ("2017-04-03", "india", "manish.png", "Manish Jethani", "Developer", "Software developer who loves to build good experiences, travel the world, and feast on Korean BBQ with a bottle of soju"),
  ("2017-04-03", "canada", "rick.png", "Rick Scott", "Software Tester", " Explorer of the digital and physical worlds. Loves cross-country skiing, travel, and learning."),
  ("2017-04-03", "earth", "tasha.png", "Tasha Raynard", "Software Tester", "Always itching to learn something new, travel enthusiast and game junkie"),
  ("2017-04-03", "ukraine", "anna.png", "Anna Fediaieva", "Student Help Monitoring", "International culture and management student. Passionate about travelling, reading, fashion, making YouTube videos, foreign languages, Instagram, dogs and chocolate."),
  ("2017-05-02", "germany", "jan.png", "Jan Oczenasek", "Student Help (Public Affairs)", "International Relations student fascinated by politics and communication. Loves to swim, go bouldering, read graphic novels and advocate Linux."),
  ("2017-05-02", "germany", "jens.png", "Jens Wangenheim", "Developer", "Problem solver and food waste fighter with much love for nature, sports and cuisine"),
  ("2017-05-02", "nigeria", "ire.png", "Ire Aderinokun", "Developer", "Developer, designer, and advocate for the open web"),
  ("2017-05-15", "earth", "rosie.png", "Rose Howell", "Developer Intern", "Computer science grad student interested in software development, security research, snowboarding & travel"),
  ("2017-05-22", "sweden", "fredrik.jpg", "Fredrik Lundhag", "DevOps Engineer", "Old school SysOp with a passion for old computers and new tech. Loves open and free software, metrics and scaling."),
  ("2017-06-01", "portugal", "tiago.png", "Tiago Pregueiro", "Mobile Product Manager", "Design and technology enthusiast. Passionate about travelling and discovering the world. Addicted to good coffee and chess."),
  ("2017-06-01", "earth", "tom.png", "Tom Woolford", "Creative Copywriter", "A word-wrangling wannabe hipster who can't grow a beard. Into music, literature, travelling and games."),
  ("2017-06-26", "romania", "florian.png", "Florian Damian", "Technical Recruiter", "Tech Recruiter by day, wanna be anime character who plays ping-pong by night"),
  ("2017-07-03", "united-states", "shannon.png", "Shannon Bell", "Technical Support Specialist", "Support guru who enjoys being a mommy, learning new technology, listening to music and writing poetry"),
  ("2017-07-12", "germany", "tristan.jpg", "Tristan Lucas", "Developer", "The sheep, always either a cup of coffee, a keyboard or a guitar at his hands"),
  ("2017-08-01", "united-kingdom", "andy.png", "Andy Shephard", "Developer", "Software developer, rock climber, craft beer brewer, DJ, photographer, traveller and all round nice guy"),
  ("2017-08-01", "united-states", "dan.png", "Daniel Zhang", "Developer", "Eats natto. Practices yoga. Loves functional and reactive programming."),
  ("2017-08-22", "sweden", "jon.png", "Jon Englund", "Developer", "Developer based in Lund. Enjoys playing with new technology, movies, reading, eating delicious food & traveling to exiting places."),
  ("2017-09-04", "scotland", "laura2.png", "Laura Faint", "Community Manager", "Always-curious, obsessed with learning new things, and happiest when bringing people together and facilitating meaningful connections."),
  ("2017-10-02", "germany", "daniel.jpg", "Daniel Bendel", "Data Analyst", "Coming from the field of Economics, diving into the field of Data Science!"),
] %}
