{% set people = [
  ("2011-08-22", "de", "palant.png", "Wladimir Palant", "Founder & CTO", "Computer scientist and the original developer of Adblock Plus"),
  ("2011-08-22", "de", "faida.png", "Till Faida", "Founder & CEO", "Entrepreneur with a professional background in online marketing"),
  ("2011-12-01", "de", "schumacher.jpeg", "Tim Schumacher", "Investor & Advisor", "Serial entrepreneur with a passion for challenging Internet projects"),
  ("2012-09-03", "de", "dahlke.png", "Felix Dahlke", "Lead Developer", "Obsessive programmer passionate about open source and games"),
  ("2012-08-13", "de", "dommers.jpg", "Christian Dommers", "Head of Business Development", "Business developer, entrepreneur and project manager with a background in Internet publishing"),
  ("2012-08-21", "de", "arthur.jpg", "Arthur Kawa", "IT Officer Trainee", "Longtime Adblock Plus contributor, loves music, concerts and bacon"),
  ("2012-07-16", "nl", "plas.png", "Job Plas", "Project Manager", "Geek-in-training, loves The Office, Gangnam Style and schnitzel, has MSc & BBA in international business"),
  ("2012-11-29", "us", "hughes.png", "Eric Hughes", "Developer", "Writes code, preferably though of necessity not exclusively, in strongly typed languages"),
  ("2013-05-06", "de", "hartz.png", "Sven Hartz", "User Experience Designer", "Computer scientist and creative head with a passion for making things clean and simple"),
  ("2013-06-30", "de", "noack.png", "Sebastian Noack", "Developer", "Longtime open source developer, who loves to play volleyball and board games"),
  ("2013-01-08", "de", "wilms.png", "Nadja Wilms", "Office Assistant", "Trained paralegal who keeps the administration and accounting in order"),
  ("2013-06-18", "us", "ben.jpeg", "Ben Williams", "PR Manager", "Previously worked in government but likes wearing jeans better, as well as writing, records and pork"),
  ("2012-09-03", "at", "greiner.jpeg", "Thomas Greiner", "Developer", "Web enthusiast and developer with strong beliefs on openness, transparency and accessibility"),
  ("2012-11-26", "ua", "paraska.jpeg", "Oleksandr Paraska", "Developer", "Longtime Adblock Plus for IE developer (yes, seriously), loves making crêpes"),
  ("2013-07-02", "es", "caballero.jpeg", "Manuel Caballero", "Acceptable Ads Relations Manager", "PhD candidate in art history, PR for Spain & LatAm, Germanophile and metal head"),
  ("2013-08-07", "de", "vervoorts.png", "Christian Vervoorts", "IT Admin", "Linux expert with a hand in virtually everything at Eyeo, who aspires to be a mad scientist in his spare time"),
  ("2014-02-03", "de", "hill.png", "Philip Hill", "QA & Project Manager", "Tries to improve the quality of nearly everything. Especially at food, music, photos and software"),
  ("2014-02-04", "am", "saroyanm.jpg", "Manvel Saroyan", "Developer", "Open source minded web developer, always looking for some good idea to implement"),
  ("2014-02-11", "sk", "foeldesova.png", "Simona Földesova", "Intern", "Bringing a business perspective into the world of IT. Lifelong optimist"),
  ("2014-03-04", "de", "jeschke.jpg", "René Jeschke", "Developer", "Coder by nature, optimisation zealot, member of the anonymous NIH-aholics"),
  ("2014-03-04", "de", "ciesielski.jpg", "Jessica Ciesielski", "Intern", "Media & Entertainment student who loves sports and travelling, motivated to improve the fitness of the team"),
  ("2014-03-24", "de", "egross.png", "Estell Chantal Groß", "Design Intern", "Media Design Student, organization addict and Vegetarian. Brings the design thought into the project and team"),
  ("2014-04-01", "de", "recke.png", "Kai Recke", "General Counsel", "Attorney specialized in online law and guidance for creative IT companies"),
] %}
