      	{% if opening %}
	        <a href="mailto:jobs@eyeo.com"><button>apply now</button></a>
	        {{"jobs"|linkify}}<button class="why-work-here-button">why work here?</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>