{#
  For each job opening you have to list the title and the name of the file under
  pages/jobs that contains the job description.
#}
{% set openings = [
  ("Frontend Developer", "frontend-developer"),
  ("Android Developer", "android-developer"),
  ("JavaScript Developer", "javascript-developer"),
  ("Python Developer", "python-developer"),
  ("Technical Recruiter", "technical-recruiter"),
  ("Technical Account Manager", "technical-account-manager"),
  ("Manager Kommunikation & Social Media DACH (m/w)", "manager-kommunikation-social-media-dach"),
  ("Community Support Associate", "community-support-associate"),
  ("Community Manager/First-level User Support", "community-manager"),
  ("Speculative Application", "speculative-application")
] %}
{% set german_openings = ["manager-kommunikation-social-media-dach"] %}

{% set opening = openings|find(page.split("/")[-1], attribute=1) %}
{% set title, _ = opening or (title, "") %}

<header class="page-title">
  <h1>Working at Eyeo</h1>
</header>

<div id="jobs-info" class="content-block">
  <div id="tabs-openings" class="columns-container one-sidebar">
    <div class="column sidebar-left">
      <h3 class="heading centered"><span>Current openings:</span></h3>

      <ul class="ui-tabs-nav ui-tabs-nav-vertical">
        {% for title, file in openings %}
          <li {% if file == page.split("/")[-1] %} class="ui-tabs-active" {% endif %}>
            {{("jobs/" + file)|linkify(class="ui-tabs-anchor")}}
              {{ title }}
              {% if file in german_openings %}
                <img src="/images/flags/de.png" alt="German" width="15" height="10">
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>


      <div class="contact-person no-mobile">
        <? include jobs/contact ?>
      </div>

      <p id="hiring-badges" class="no-mobile">
        <img id="ihk-logo" src="/images/ihk.png" alt="IHK Ausbildungsbetrieb" width="120" height="80">
        <img id="fair-company-logo" src="/images/fair-company.jpg" alt="Fair Company" height="80">
      </p>
    </div>

    <div class="column">
      <div id="panels-openings" class="ui-tabs-panel">
        {% if opening %}
        <h2>{{ title }}</h2>
        {% endif %}
