title=Jobs
description=We believe in doing things differently. We're looking for creative, independent thinkers to join our team. Work remotely or from our offices in Berlin, Cologne and Malmö.

<head>
  <link rel="stylesheet" href="/css/jquery.lightbox.css" type="text/css" media="screen">
  <style>
    .image-gallery a
    {
      display: inline-block;
      overflow: hidden;
      max-width: 150px;
    }

    .image-gallery img
    {
      height: 150px;
    }
  </style>
  <script src="/js/jquery.ui.core.min.js"></script>
  <script src="/js/jquery.ui.widget.min.js"></script>
  <script src="/js/jquery.ui.tabs.min.js"></script>
  <script src="/js/jquery.lightbox.min.js"></script>
  <script>
    jQuery(function()
    {
      jQuery("#tabs-details").tabs();
      jQuery(".image-gallery a").lightBox({
        imageBtnPrev: "/images/lightbox/btn-prev.gif",
        imageBtnNext: "/images/lightbox/btn-next.gif",
        imageBtnClose: "/images/lightbox/btn-close.gif",
        imageLoading: "/images/lightbox/ico-loading.gif",
        imageBlank: "/images/lightbox/blank.gif"
      });
    });
  </script>
</head>

<? include jobs/header ?>

<div id="jobs-overview">
  <? include jobs/overview ?>

  <div id="tabs-details">
    <ul>
      <li><a href="#why-work-with-us">Why work with us?</a></li>
      <li><a href="#employee-perks">Employee perks</a></li>
      <li><a href="#our-offices">Our offices</a></li>
      <li><a href="#recruitment-process">Recruitment process</a></li>
    </ul>

    <div id="why-work-with-us">
      <? include jobs/why-work-with-us ?>
    </div>

    <div id="employee-perks">
      <? include jobs/employee-perks ?>
    </div>

    <div id="our-offices">
      <? include jobs/our-offices ?>
    </div>

    <div id="recruitment-process">
      <? include jobs/recruitment-process ?>
    </div>
</div>
</div>

<? include jobs/footer ?>
